/* Variables */
:root {
  /* colors */
  --color-light: #f8f9fa;
  --color-white: #ffff;

  /* spacing */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 30px;
}

/* Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: var(--color-light);
}
